<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Chronic Heart Failure Detection</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
        <meta name="author" content="templatemo">
               
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- animate -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
		<!-- bootstrap -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<!-- font-awesome -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
		<!-- fullpage -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fullPage.css') }}">
		<!-- custom -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">

	</head>
	<body>

		<div id="fullpage">

			<!-- start home -->
			<div id="home" class="section">
				<div class="container">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
							<h3>Diagnostic of Cardiovascular Diseases</h3>
							<h1>Chronic Heart Failure Detection</h1>
							<h2 class="rotate">Computer-Aided Auscultation, Home-based CHF Monitor , Early Detection, Removes logistic burden </h2>
							<p>
								Chronic Heart Failure (CHF) is typically a long-term condition that gradually worsens over time. Also known as Congestive Heart Failure or heart failure, is an ongoing inability of the heart to pump enough blood through the body to ensure a sufficient supply of oxygen.
								CHF affects over 26 millions of people worldwide, and its incidence is increasing by 2% annually.
							</p>
							<a href="{{ url_for('login') }}" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="1s">Get Started</a>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
			</div>
			<!-- end home -->
			<!-- start contact -->
			
			<!-- end contact -->

			<!-- start work -->
			<div id="work" class="section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 wow bounce">
							<h2>WHAT I DO</h2>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
							<div class="media">
								<div class="media-object media-left">
									<i class="fa fa-laptop"></i>
								</div>
								<div class="media-body">
									<h3 class="media-heading">Software Requirement</h3>
									<p>
										OS: Windows 10 <br>
										Bluetooth and Internet compatibility
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
							<div class="media">
								<div class="media-object media-left">
									<i class="fa fa-link"></i>
								</div>
								<div class="media-body">
									<h3 class="media-heading">For Developers</h3>
									<p>Github <a href="https://github.com/RiyaParekh1234/BEproject" target="_blank"> link </a> for developers purpose. Please spread a word about us on social media.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
							<div class="media">
								<div class="media-object media-left">
									<i class="fa fa-paper-plane"></i>
								</div>
								<div class="media-body">
									<h3 class="media-heading">Hardware Requirement</h3>
									<p>
										Littmann Electronic Stethoscope<br>
										Computer/Laptop
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- end work -->
			<!-- start about -->
			<div id="about" class="section">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
							<h2>ABOUT Our Project</h2>
							<h4>DESIGNER &AMP; DEVELOPER</h4>
							<p>Our aim is to detect whether the patient is having symptoms of CHF with the help of Heart Sounds.</p>
							<p>
								The method combines classic Machine-Learning (ML) and end-to-end Deep Learning (DL). The classic ML learns from expert features, and the DL
								learns from a spectro-temporal representation of the signal.
							</p>
						</div>
						<div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
							<span class="text-top">Filteration<small>95%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
							</div>
							<span>Machine Learning <small>80%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
							</div>
							<span>Deep Learning <small>70%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
							</div>
							<span>Ensemble Learning <small>90%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end about -->
			<!-- start portfolio -->
			<div id="portfolio" class="section">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="wow bounce">PORTFOLIO</h2>
						</div>
						<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
							<div class="portfolio-thumb">
								<img src="{{ url_for('static', filename='images/git1.jpg') }}" class="img-responsive" alt="portfolio img">
								<div class="portfolio-overlay">
									<a style="color:aliceblue" href="https://github.com/RiyaParekh1234/BEproject" target="_blank"><strong> Github Link</strong> </a> 
									<h5>Developers Purpose</h5>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
							<div class="portfolio-thumb">
								<img src="{{ url_for('static', filename='images/architect.png') }}" class="img-responsive" alt="portfolio img">
								<div class="portfolio-overlay">
									<a style="color:aliceblue" href="https://github.com/RiyaParekh1234/BEproject/blob/main/architecture.png" target="_blank"><strong>  System Architecture </strong> </a>
									<h5>Developers Purpose</h5>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
							<div class="portfolio-thumb">
								<img src="{{ url_for('static', filename='images/techstack.png') }}" class="img-responsive" alt="portfolio img">
								<div class="portfolio-overlay">
									<h4>Technology Stack</h4>
									<h5>
										1. Anaconda Framework <br><br>
										2. Jupyter notebook<br><br>
										3. VS Code - Editor<br><br>
										4. HTML-CSS Javascript - FrontEnd<br><br>
										5. Python (Django Framework) <br><br>
									</h5>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
							<div class="portfolio-thumb">
								<img src="{{ url_for('static', filename='images/paperpub.jpg') }}" class="img-responsive" alt="portfolio img">
								<div class="portfolio-overlay">
									<a style="color:aliceblue" href="https://docs.google.com/document/d/1Wong42uMc3xNk0EqdHD7JiRIfQ_1Of-PEjnXhtD8JRw/edit?usp=sharing" target="_blank"><strong>Paper Published</strong> </a>
									<h5>Developers Purpose</h5>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
							<div class="portfolio-thumb">
								<img src="{{ url_for('static', filename='images/sdm.jpg') }}" class="img-responsive" alt="portfolio img">
								<div class="portfolio-overlay">
									<a style="color:aliceblue" href="https://github.com/RiyaParekh1234/BEproject/blob/main/GROUP%209_ShreyaKajbaje_ShreyaMahajan_RiyaParekh_RashmiMokashi.pdf" target="_blank"><strong>System Design</strong> </a>
									<h5>Developers Purpose</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end portfolio -->
			<!-- start footer -->
			<footer>
				<div class="container">
					<div class="row">

						<div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
							
								<address>
									<p class="contact-title"><strong>CONTACT ME</strong></p>
									<p><i class="fa fa-phone"></i> 090-080-0760  info@company.com</p>
									<p><i class="fa fa-map-marker"></i> 120 Old Walking Street, GL 16060</p>
								</address>
							
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-instagram"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
			<!-- end footer -->

		</div>

		<!-- jQuery -->
		<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<!-- bootstrap -->
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<!-- fullpage -->
		<script src="{{ url_for('static', filename='js/jquery.fullPage.js') }}"></script>
		<!-- smoothScroll -->
		<script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
		<!-- wow -->
		<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
		<!-- text rotater -->
		<script src="{{ url_for('static', filename='js/jquery.simple-text-rotator.js') }}"></script>
		<!-- custom -->
		<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

	</body>
</html>